body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;        
    margin: 0;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
img {
    max-width: 100%;       
    max-height: 100%;
}
.recom {
padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
button {
    background: #007BFF;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    background: #0056b3;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

button:active {
    background: #003f7f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1);
}
