body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    background-color: #35424a;
    color: #ffffff;
    padding: 20px 0;
    align-items: flex-end;

}

.logo-image {
    height: 50px;
    vertical-align: middle;
}

.footer {
    background-color: #0d8fe0;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}